{% extends 'base.html' %}
{% block content %}
{% include "nav.html" %}
<div id="new-registration">
    <div class="registration-box">
        <div class="registration-title">削除確認</div>
            <p>本当に {{ object.name }} を削除しますか？</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn-register">削除</button>
                <div class="cancel-link">
                    <a href="{% url 'list' %}">キャンセル</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}